{% extends 'main/base.html' %}

<!--Overwrite-->
{% block title %}
    itens
{% endblock %}

{% block pageheader %}

{% endblock %}

{% block content %}
<table class=" table table-hover">
    <thead>
        <tr>
            <th scope = "col">ID</th>
            <th scope = "col">Nome</th>
            <th scope = "col">Foto</th>
            <th scope = "col">Preco</th>
            <th scope = "col">Opcoes</th>
        </tr>
    </thead>
    <tbody>
        {% for item in itens %}
        {% include 'main\incluide\modal.html' %}
        <tr>
            <th scope="row">{{item.pk}}</th>
            <th>{{item.nome}}</th>
            <th> <img alt="image" src="{{item.url_img}}" style="width: 60px"> </th>
            <th>{{item.preco}}</th>
            <th>
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">detalhes produto</button>
                <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#staticBackdrop">comprar produto</button>
            </th>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}